// ESTILOS EXTERNOS
@import "../vendors/fontawesome/scss/font-awesome";
@import "../vendors/bootstrap-sass/assets/stylesheets/bootstrap";
//
$footer_bg:#31708f;
.body{
    height: 450px
}
.footer {
    height: 200px;
    width: 100%;
    background: $footer_bg;
}
