// ESTILOS EXTERNOS
@import "../../node_modules/font-awesome/scss/font-awesome";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//
$footer_bg:#31708f;
.body {
    height: 450px
}
.footer {
    height: 200px;
    width: 100%;
    background: $footer_bg;
}
